{% extends "base.html" %} {% load static %} {% block a %}
<div class="container">
<section class= " d-flex justify-content-evenly align-items-center " style= "height:500px">



  <card >
    <div class="card " style="width: 18rem">
      <img src="{% static 'home\images\a2.png' %}" class="card-img-top" alt="..." width= "auto" height="300px" />
      <div class="card-body">
        <h5 class="card-title">Arun Bhalla</h5>
        <p class="card-text">
         2100300100042 
         <br> 
         CSE-4A
        </p>
      </div>
    </div>
  </card>





  <card>
    <div class="card" style="width: 18rem">
      <img src="{% static 'home\images\a2.png' %}" class="card-img-top" alt="..."  width= "auto" height="300px" />
      <div class="card-body">
        <h5 class="card-title">Varun Bhalla</h5>
        <p class="card-text">
          2100300100198
         <br> 
         CSE-4B
        </p>
      </div>
    </div>
  </card>

  <card>
    <div class="card" style="width: 18rem">
      <img src="{% static 'home\images\a2.png' %}" class="card-img-top" alt="..."  width= "auto" height="300px" />
      <div class="card-body">
        <h5 class="card-title"> Anuj Maurya</h5>
        <p class="card-text">
          2100300100037 
         <br> 
         CSE-4A
        </p>
      </div>
    </div>
  </card>
</section>
</div>
{% endblock a %}
